._a1 {
  color: white;
  background-color: #17c4e2;
  padding: 5px 10px;
  border-radius: 14px;
}

._a2 {
  color: black;
  background-color: #acdee7;
  padding: 5px 10px;
  border-radius: 14px;
}

.a {
  font-family: Yekan Bakh;
  direction: rtl;
  margin: 2% 5%;
  display: flex;
  justify-content: center;
  gap: 2%;

  .right-side-bar {
    width: 55%;

    .montakhab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2%;

      h2 {
        margin-block-start: 0;
        margin-block-end: 0;
      }

      .buttons {
        a {
          font-size: 14px;
          color: black;
          text-decoration: unset;

          &:first-of-type {
            @extend ._a1;
          }

          &:last-of-type {
            @extend ._a2;
          }
        }
      }
    }

    .second-part {
      width: 100%;
      display: flex;
      justify-content: center;

      margin-bottom: 4%;

      .right-side-bar-pic {
        width: 65%;
        position: relative;
        img {
          width: 100%;
        }
        div {
          color: white;
          position: absolute;
          z-index: 1000;
          top: 35%;
          padding: 4%;

          p {
            font-size: 26px;
            margin-block-start: 10px;
            margin-block-end: 10px;
          }

          span {
            font-weight: 400;
          }
        }
      }

      .right-side-bar-cards {
        width: 35%;
        border: 1px solid rgba(114, 114, 114, 0.3);
        border-radius: 10px;
        padding: 15px;
        padding-top: 0;
        font-size: 16px;

        h4 {
          margin-block-end: 0;
          color: #17c4e2;
        }

        p {
          color: black;
        }

        hr {
          width: 100%;
          height: 1px;
          background-color: rgba(114, 114, 114, 0.3);
          border: none;
        }
      }
    }

    .sabk-zendegi {
      .buttons-sabk {
        display: flex;
        gap: 10%;

        a {
          width: 15px;
          height: 15px;
          font-size: 25px;
          display: flex;
          align-items: center;
          color: black;
          text-decoration: unset;

          &:first-of-type {
            @extend ._a2;
            border-radius: 10px;
          }

          &:last-of-type {
            @extend ._a1;
            border-radius: 10px;
          }
        }
      }
    }

    .fourthPart {
      display: flex;
      justify-content: space-evenly;
      gap: 10px;

      .boxes {
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          width: 100%;
          margin: auto;
        }

        span {
          font-size: 14px;
          color: #17c4e2;
          margin-block-start: 15px;
        }

        p {
          margin-block-start: 0;
          margin-block-end: 0;

          &:first-of-type {
            font-size: 16px;
          }

          &:last-of-type {
            font-size: 13px;
            color: #bababa;
          }
        }
      }
    }
  }

  .left-side-bar {
    width: 25%;

    .montakhab {
      display: flex;
      flex-direction: column;

      h2 {
        margin-block-end: 0;
        margin-block-start: 0;
      }

      .montakhab-boxes {
        display: flex;
        gap: 3%;

        div:first-of-type {
          display: flex;
          align-items: center;

          img {
            width: 100%;
          }
        }

        p {
          // margin-block-start: 0;
          // margin-block-end: 0;
          &:first-of-type {
            font-size: 16px;
          }

          &:last-of-type {
            font-size: 13px;
            color: #bababa;
          }
        }
      }
    }

    .contact {
      .socials {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 11px;

        .social {
          display: flex;
          gap: 2px;
          justify-content: center;
          width: 100%;
          margin: 0;
          // background-color: #FF854673;
          span {
            font-weight: 700;
          }
          .right {
            width: 65%;
            display: flex;
            justify-content: center;
            background-color: #ff854673;
            border-radius: 0 15px 15px 0;
            padding: 2% 8%;
            padding-right: 2%;

            div:first-of-type {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px;

              img {
                width: 35px;
              }
            }

            p {
              margin: auto;
            }
          }

          .left {
            text-align: center;
            background-color: #ff854673;
            border-radius: 15px 0 0 15px;
            padding: 2% 7%;
            font-weight: 600;
            width: 30%;
            p {
              margin-block-start: 0;
              margin-block-end: 0;
              padding: 10px;
              padding-top: 5px;
            }

            a {
              display: block;
              direction: ltr;
              padding: 10px;
              padding-bottom: 0;
              text-decoration: unset;
              color: black;
            }
          }
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 576px) {
  .a {
    flex-direction: column;
    margin: 2% 3%;

    .right-side-bar,
    .left-side-bar {
      width: 100%;
    }

    .right-side-bar {
      .second-part {
        flex-direction: column;

        .right-side-bar-pic,
        .right-side-bar-cards {
          width: 95%;
        }

        .right-side-bar-pic {
          img {
            width: 100%;
            height: auto;
          }

          div {
            padding: 2%;
            top: 46%;

            p {
              font-size: 20px;
            }
          }
        }

        .right-side-bar-cards {
          margin-top: 20px;
        }
      }

      .fourthPart {
        flex-direction: column;

        .boxes {
          width: 100%;
          margin-top: 10%;
        }
      }
    }

    .left-side-bar {
      .montakhab {
        margin-top: 10%;
        .montakhab-boxes {
          flex-direction: row;
          margin-bottom: 10px;
        }

        .contact {
          .socials {
            .social {
              flex-direction: column;

              .right,
              .left {
                border-radius: 15px 0 15px 0;

                padding: 5%;
              }
            }
          }
        }
      }
    }
  }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 768px) {
  .a {
    flex-direction: column;
    margin: 2% 4%;

    .right-side-bar,
    .left-side-bar {
      width: 100%;
    }

    .right-side-bar {
      .second-part {
        flex-direction: column;

        .right-side-bar-pic,
        .right-side-bar-cards {
          width: 95%;
        }

        .right-side-bar-pic {
          img {
            width: 100%;
            height: auto;
          }

          div {
            padding: 2%;
            top: 70%;

            p {
              font-size: 22px;
            }
          }
        }

        .right-side-bar-cards {
          margin-top: 20px;
        }
      }

      .fourthPart {
        flex-direction: row;
        flex-wrap: wrap;

        .boxes {
          width: 48%;
        }
      }
    }

    .left-side-bar {
      .montakhab {
        .montakhab-boxes {
          flex-direction: row;
          align-items: center;
          margin-top: 10%;
          margin-right: 10%;
          div:first-of-type {
            width: 30%;
          }

          p {
            width: 65%;
          }
        }

        .contact {
          .socials {
            .social {
              flex-direction: row;

              .right,
              .left {
                border-radius: 10px;
                padding: 5%;
              }
            }
          }
        }
      }
    }
  }
}

/* Small Desktop */
@media (min-width: 769px) and (max-width: 1279px) {
  .a {
    margin: 2% 4%;

    .right-side-bar {
      width: 60%;
    }

    .left-side-bar {
      width: 40%;
    }

    .right-side-bar {
      .second-part {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .right-side-bar-pic {
          width: 96%;

          img {
            width: 100%;
            height: auto;
          }

          div {
            position: absolute;
            top: 50%;
            padding: 2%;

            p {
              font-size: 24px;
            }
          }
        }

        .right-side-bar-cards {
          width: 85%;
        }
      }

      .fourthPart {
        flex-direction: row;

        .boxes {
          width: 48%;
        }
      }
    }

    .left-side-bar {
      .montakhab-boxes {
        flex-direction: row;
        margin-bottom: 5%;
        div:first-of-type {
          width: 50%;
          img {
            width: 100%;
          }
        }

        p {
          width: 100%;
        }
      }

      .contact {
        .socials {
          .social {
            flex-direction: row;

            .right {
              border-radius: 0 15px 15px 0;
              padding: 5%;
            }
            .left {
              border-radius: 15px 0 0 15px;
              padding: 5%;
            }
          }
        }
      }
    }
  }
}

/* Large Desktop */
@media (min-width: 1280px) {
  .a {
    margin: 2% 5%;

    .right-side-bar {
      width: 55%;
    }

    .left-side-bar {
      width: 25%;
    }

    .right-side-bar {
      .second-part {
        flex-direction: row;
        gap: 20px;
        .right-side-bar-pic {
          width: 65%;

          img {
            width: 100%;
            height: auto;
          }

          div {
            position: absolute;
            top: 30%;
            padding: 2%;

            p {
              font-size: 26px;
            }
          }
        }

        .right-side-bar-cards {
          width: 35%;
        }
      }

      .fourthPart {
        flex-direction: row;
        flex-wrap: wrap;

        .boxes {
          width: 32%;
        }
      }
    }

    .left-side-bar {
      .montakhab-boxes {
        flex-direction: row;
        margin-bottom: 5%;
        div:first-of-type {
          width: 100%;
        }

        p {
          width: 100%;
        }
      }

      .contact {
        .socials {
          .social {
            flex-direction: row;

            .right {
              border-radius: 0 15px 15px 0;
              padding: 5%;
            }
            .left {
              border-radius: 15px 0 0 15px;
              padding: 5%;
            }
          }
        }
      }
    }
  }
}
